body {
  margin: 0;
  background: #f1f1f1;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: bold;
  color: black;
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-weight: 900;
}

/* ########################### - Sign In styling - ############################ */
.signInWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
}

.signInIntro {
  flex-grow: 4;
}

.signInIntroContent {
  width: 100%;
  height: 100%;
  background: #c42116;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20vh;
  box-sizing: border-box;
  /* justify-content: center; */
  align-items: center;
  color: white;
  opacity: 0.95;
}

.headerWrapper {
  margin-top: -10em;
  text-align: center;
}

.signInIntroContent h1 {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 3em;
}

.signInIntroContent h1:first-child {
  margin-bottom: 0;
}

.signInIntroContent h1:nth-child(2) {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
}

.keyImage {
  width: 40%;
}

.ringRingerWrapper {
  position: relative;
  left: 50%;
  z-index: -1;
}

.ringRinger {
  min-height: 20em;
  width: 60%;
  margin: 0 20%;
  position: absolute;
  left: -50%;
  top: 40vh;
}

.signInDetail {
  flex-grow: 1;
  min-width: 18em;
  background: #f1f1f1;
  box-sizing: border-box;
  padding: 5em;
  justify-content: center;
}

.signInDetail > h1 {
  font-size: 2em;
  max-width: 10em;
  color: #818181;
}

.signInDetail form {
  display: flex;
  flex-direction: column;
  max-width: 16em;
}

.signInDetail form input {
  border: none;
  background: none;
  padding: 0.7em 0.7em 0 0.7em;
  padding: 0.5em 0;
  border-bottom: 1px solid black;
  transition: all 0.5s ease-in;
}

.signInDetail form input:focus {
  background: white;
  border-radius: 0.3em;
}

.signInDetail label {
  padding-top: 1em;
}

.logInButton,
.sentButton {
  background: linear-gradient(
    90deg,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59),
    rgba(190, 48, 39, 1)
  );
  background-size: 200%;
  color: white;
  padding: 1em;
  max-width: 12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin-top: 2em;
  transition: all 0.5s ease-in;
  border-radius: 0.2em;
}

.logInButton:hover,
.sentButton:hover {
  background-position: right;
  text-decoration: none;
}

.forgotPassword {
  text-decoration: none;
  color: #818181;
  font-size: 0.9em;
  margin-top: 1em;
}

/* ########################### - Header styling - ############################ */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em 0;
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px #cacaca;
  box-shadow: 0px 3px 10px 0px #cacaca;
  width: 100%;
  z-index: 2;
}

header > img {
  width: 5em;
  height: 5em;
  margin: 0 auto;
}

header .barChartIcon path {
  stroke-width: 0.2;
}

header > nav {
  width: 16em;
  display: flex;
  align-items: center;
}

header > div {
  width: 16em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 10em;
}

header > nav ul li {
  padding: 0.5em 1em;
}

header > div > div {
  display: flex;
  flex-direction: column;
}

header > div > div p {
  margin: 0;
}

header > div > div a {
  color: #be3027;
  text-decoration: none;
}

header > div > div a:hover {
  color: #be3027;
  font-weight: bold;
  text-decoration: none;
}

.avatar {
  background: rgb(196, 196, 196);
  border-radius: 1.5em;
  height: 3em;
  width: 3em;
  margin-right: 1em;
  padding-top: 0.5em;
  box-sizing: border-box;
}

.notification {
  height: 2em;
  margin-right: 1em;
}

header > nav > ul > li > a > img {
  height: 1.8em;
  margin-right: 0.5em;
}

header > nav > ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

/* ########################### - main content styling - ############################ */
.contentWrapper {
  width: 74%;
  /* min-height: 77vh; */
  height: 100%;
}

main {
  padding: 2em 2em 0 2em;
  display: flex;
  height: 75vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dashboardButtons {
  width: 100%;
  height: 22%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
  grid-gap: 1rem;
  box-sizing: border-box;
  padding-bottom: 1rem;
}

.dashboardButton {
  height: 100%;
  /* max-width: 21em; */
  background: rgb(190, 48, 39);
  background: linear-gradient(
    90deg,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59),
    rgba(190, 48, 39, 1)
  );
  background-size: 200%;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 2px #cacaca;
  box-shadow: 0px 0px 10px 2px #cacaca;
  color: white;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in;
  text-decoration: none;
  text-align: center;
}

.dashboardButtons:nth-child(2) {
  margin: 0 2em;
}

.dashboardButton:hover {
  background-position: right;
  text-decoration: none;
}

.dashboardButton img {
  max-height: 3em;
  transition: all 0.5s ease-in;
}

.dashboardButtons p {
  padding: 0;
  margin: 0.5em 0;
  font-size: 0.7em;
  /* opacity: 0; */
}

.dashboardButton:hover img {
  max-height: 3.5em;
}

/* .dashboardButton a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
} */

/* ########################### - sidebar content styling - ############################ */
.sidebar {
  min-width: 15em;
  width: 25%;
  background: white;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 2px #cacaca;
  box-shadow: 0px 0px 10px 2px #cacaca;
  border-radius: 0.2em;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebarHome {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h1,
.sidebar h2 {
  word-wrap: normal;
}

.sidebar h1 {
  font-size: 1.3em;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.sidebar h2 {
  padding-bottom: 0.8em;
  font-size: 0.9em;
  border-bottom: 1px solid #cacaca;
}

.sidebarYou {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ########################### - D3 styling - ############################ */
.durationChart {
  width: 700px;
  height: 400px;
}

.durationChart text {
  fill: black;
  font-size: 1.1em;
}

.xAxisName,
.yAxisName {
  font-size: 1.5em;
}

.yAxisName {
  text-anchor: middle;
}

line {
  stroke: #dbdbdb;
}

.weekendChart {
  width: 250px;
  height: 250px;
  display: block;
  margin: 0 auto 1rem auto;
}

/* .daysChart {
  margin-top: 1em;
} */

.weekendChart .arc:first-child text {
  text-shadow: 1px 1px 2px white;
  fill: black;
  transform: translate(20px, -70px);
  -ms-transform: translate(20px, -70px); /* IE 9 */
  -webkit-transform: translate(20px, -70px); /* Safari and Chrome */
  -o-transform: translate(20px, -70px); /* Opera */
  -moz-transform: translate(20px, -70px); /* Firefox */
}

.weekendChart .arc:last-child text {
  text-shadow: 1px 1px 2px black;
  fill: white;
  transform: translate(-40px, 90px);
  -ms-transform: translate(-40px, 90px); /* IE 9 */
  -webkit-transform: translate(-40px, 90px); /* Safari and Chrome */
  -o-transform: translate(-40px, 90px); /* Opera */
  -moz-transform: translate(-40px, 90px); /* Firefox */
}

.bikeRoutes {
  width: 100%;
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.bikeRoutes article {
  padding: 1em;
  /* box-sizing: border-box; */
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 2px #cacaca;
  box-shadow: 0px 0px 10px 2px #cacaca;
  border-radius: 0.2rem;
  margin: 0.6rem;
}

.bikeRoutes h3 {
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.bikeRoutes p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}

/* ########################### - contentDetail styling - ############################ */
.contentDetailWrapper {
  color: #2a292f;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 2px #cacaca;
  box-shadow: 0px 0px 10px 2px #cacaca;
  border-radius: 0.2em;
  height: 100%;
  /* padding: 2rem; */
  box-sizing: border-box;
}

.contentMap {
  padding: 0;
  /* max-height: 57vh; */
}

.contentMapHome {
  padding: 0;
  /* min-height: 57vh; */
  height: 78%;
}

.contentMap .contentHeader,
.contentHeadersTextHome {
  padding: 1rem 1.5rem 0 1.5rem;
}

.contentHeadersTextHome {
  height: 20%;
  box-sizing: border-box;
}

.contentHeadersTextHome h2 {
  padding-bottom: 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid #cacaca;
}

.contentDetailWrapper h1 {
  font-size: 1.3em;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0.5em;
}

.contentDetailWrapper h2 {
  font-size: 0.9em;
}

.contentHeader {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #cacaca;
  padding: 1rem 1.5rem 0 1.5rem;
}

.contentHeader img {
  height: 1.3em;
}

.contentHeadersText {
  margin-left: 1em;
}

.contentHeader > img {
  cursor: pointer;
}

/* ########################### - durationChart styling - ############################ */
.durationChartWrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #2a292f;
  border-radius: 0.2em;
  /* min-height: 60vh; */
  max-height: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
}

.durationChartWrapper > form {
  margin: 1em;
  border-left: 1px solid #d6d6d6;
  padding-left: 1em;
  max-width: 16em;
}

.durationChartWrapper > form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.durationChartWrapper > form ul li {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
}

.durationChartWrapper > form ul li p,
.durationChartWrapper > form ul li label {
  margin: 0;
  padding-left: 1em;
  font-size: 0.85em;
}

.durationChartWrapper > form ul li label:hover,
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.durationChartWrapper input[type="checkbox"]:checked + label {
  opacity: 0.4;
}

.durationChartWrapper
  .legendaItem:first-child
  input[type="checkbox"]:checked
  + label {
  opacity: 1;
  color: #be3027;
}

.durationChartWrapper
  .legendaItem:first-child
  input[type="checkbox"]:checked
  + label
  p {
  opacity: 1;
  color: #be3027;
  font-weight: bold;
}

.durationChartWrapper h2 {
  border-bottom: 1px solid #e2e2e2;
  font-size: 1em;
}

.veryLongDistanceColor,
.longDistanceColor,
.mediumDistanceColor,
.shortDistanceColor,
.veryShortDistanceColor,
.dayIcon {
  width: 1.6em;
  height: 1.3em;
  flex-shrink: 0;
}

ul .legendaItem input {
  display: none;
}

.legendaItem label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.labelDesc {
  font-size: 1em !important;
}

.veryLongDistanceColor {
  background: #f48a14;
}

.longDistanceColor {
  background: #792987;
}

.mediumDistanceColor {
  background: #be3027;
}

.shortDistanceColor {
  background: #026031;
}

.veryShortDistanceColor {
  background: #054488;
}

/* ########################### - Map styling - ############################ */
#map {
  height: 64vh;
  width: 100%;
  border-radius: 0 0 0.2em 0.2em;
  background-image: url("../resources/loading.gif");
}

.mapHome {
  height: 80% !important;
}

.filterMapList {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  grid-gap: 0.5em;
  padding: 0;
}

.filterMapList li input {
  display: none;
}

.filterMapList input[type="checkbox"]:checked + label {
  background-position: right;
  color: white;
  font-weight: 400;
  opacity: 1;
}

.filterMapList label {
  display: block;
  text-align: center;
  padding: 0.4em;
  transition: all 0.5s ease-in;
  background: linear-gradient(
    90deg,
    white,
    white,
    white,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59)
  );
  background-size: 400%;
  border-radius: 0.2em;
}

.filterMapList .filterNight label {
  border: 1px solid #054488;
  color: #054488;
  background: linear-gradient(90deg, white, white, white, #054488, #0b5aaf);
  background-size: 400%;
}

.filterMapList .filterDay label {
  border: 1px solid #f48a14;
  color: #f48a14;
  background: linear-gradient(90deg, white, white, white, #f48a14, #f39831);
  background-size: 400%;
}

.filterMapList .filterRushHour label {
  border: 1px solid rgba(190, 48, 39, 1);
  color: rgba(190, 48, 39, 1);
  background: linear-gradient(
    90deg,
    white,
    white,
    white,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59)
  );
  background-size: 400%;
}

.filterMapList label:hover {
  background-position: center;
}

@media only screen and (max-width: 600px) {
  .signInIntroContent {
    padding-top: 1em;
  }
  .headerWrapper {
    margin-top: 0;
  }
  .signInDetail {
    padding-top: 2em;
  }
}

/* ########################### - Feedback styling - ############################ */
.feedbackSection {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  padding: 0;
  justify-content: start;
  /* align-items: ; */
  overflow-y: auto;
  height: 80%;
}

.feedbackSection li {
  border-bottom: 0.6px solid #cacaca;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6fr 1fr 1fr 1fr;
  align-items: center;
  padding: 1em;
}

.feedbackHomeSection li {
  border-bottom: 0.6px solid #cacaca;
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  align-items: center;
  padding: 0;
}

.feedbackSection li p {
  padding: 0 0.5rem;
}

.feedbackHomeSection ul {
  margin: 0 !important;
}

.feedbackSection label {
  text-align: center;
}

.feedbackSection img {
  max-height: 2em;
}

.feedbackSection input[type="checkbox"]:checked + label {
  /* background: rgba(190, 48, 39, 1);
  background: linear-gradient(90deg, rgba(190, 48, 39, 1), rgb(219, 70, 59));
  color: white; */
  background-position: right;
  border: 1px solid white;
  color: white;
  font-weight: 400;
  opacity: 1;
}

.feedbackSection label {
  padding: 1em;
  border: 1px solid black;
  transition: all 0.5s ease-in;
  background: linear-gradient(
    90deg,
    white,
    white,
    white,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59)
  );
  background-size: 400%;
}

.feedbackSection label:hover {
  background: linear-gradient(
    90deg,
    white,
    white,
    white,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59)
  );
  background-size: 400%;
  background-position: center;
}

.feedbackSection input {
  display: none;
}

.feedbackActions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedbackActions li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  transition: all 0.5s ease-in-out;
}

.feedbackActions li label img {
  width: 1.3rem;
  margin-right: 1.5rem;
}

.feedbackActions input {
  display: none;
}

.feedbackActions input:disabled + label {
  opacity: 0.5;
}

.feedbackActions input:disabled + label:hover {
  text-decoration: none;
  font-weight: 400;
  padding: 0;
  opacity: 0.5;
  color: black;
}

.feedbackActions label:hover {
  cursor: pointer;
  padding-left: 1em;
  font-weight: bold;
  color: #be3027;
}

.sidebarFeedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarFeedback label {
  font-size: 0.9rem;
}

.sidebarFeedback input {
  height: 0.9rem;
}

.contentHiderPopUp {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  background: rgb(151, 151, 151);
  opacity: 0.75;
  display: none;
}

.popUp,
.popUpSent {
  position: absolute;
  min-height: 33em;
  width: 60%;
  height: 70vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 0.2rem;
  padding: 1.2rem;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 10px 0px grey;
  box-shadow: 0px 3px 10px 0px grey;
  display: none;
}

.popUp h1,
.popUpSent h1 {
  width: 95%;
  padding-bottom: 0.8em;
  font-size: 1.2em;
  border-bottom: 1px solid #cacaca;
  margin: 0;
  display: inline-block;
  box-sizing: border-box;
}

.popUp > div,
.popUpSent > div {
  width: 3%;
  font-size: 2.5em;
  display: inline-block;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: -1em;
  cursor: pointer;
  transition: color 0.1s ease-in-out;
}

.popUp > div:hover,
.popUpSent > div:hover {
  color: #be3027;
}

.popUp h2 {
  font-size: 1em;
}

.popUp .message {
  margin-top: 2rem;
}

.popUp ul {
  list-style: none;
  padding: 0;
  /* width: 100%; */
}

.popUp ul li {
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  border-bottom: 0.5px solid #cacaca;
  align-items: center;
  grid-gap: 1rem;
}

.popUp ul li p {
  box-sizing: border-box;
  /* padding: 0 1em 0 0; */
  font-size: 0.8em;
}

.popUp ul li img {
  height: 2em;
  /* padding: 0 2em 0 1em; */
  box-sizing: border-box;
}

.popUp > section {
  display: grid;
  grid-template-columns: 10fr 7fr;
  grid-gap: 4rem;
  padding: 1rem;
  box-sizing: border-box;
  height: 95%;
}

.popUp section section p {
  margin: 0.3rem 0;
}

.popUp section:first-child section {
  margin-right: 3em;
  box-sizing: border-box;
}

.popUp section section p strong {
  font-weight: bold;
}

.popUp section textarea {
  width: 100%;
  height: 6em;
  box-sizing: border-box;
}

.popUp ul li section {
  margin: 0 !important;
}

.sentMessageSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sentMessageSection ul li {
  border: none;
}

.sentMessageSection ul li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid white;
  border-bottom: 0.5px solid #cacaca;
  transition: border 0.3s ease-in-out;
  width: 20rem;
}

.sentMessageSection ul li label:hover {
  border: 1px solid #cacaca;
}

.sentMessageSection ul li img {
  height: 4em;
  width: 6.5em;
  margin-right: 1rem;
}

.sentMessageSection ul li h2 {
  margin: 0;
}

.sentMessageSection ul li p {
  color: grey;
}

.sentMessageSection input {
  display: none;
}

.sentMessageSection input[type="checkbox"]:checked + label {
  border: 2px solid #be3027;
}

.sentButton {
  margin: 0 auto;
  min-width: 12em;
}

.popUpSent h2 {
  font-size: 2em;
  text-align: center;
}

.popUpSent h2 strong {
  color: #be3027;
}

.popUpSent img {
  width: 30%;
  margin: 0 auto;
  display: block;
}
