body {
  margin: 0;
  background: #f1f1f1;
}

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: bold;
  color: black;
}

/* ########################### - Sign In styling - ############################ */
.signInWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
}

.signInIntro {
  flex-grow: 4;
}

.signInIntroContent {
  width: 100%;
  height: 100%;
  background: #c42116;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20vh;
  box-sizing: border-box;
  /* justify-content: center; */
  align-items: center;
  color: white;
  opacity: 0.95;
}

.headerWrapper {
  margin-top: -10em;
  text-align: center;
}

.signInIntroContent h1 {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 3em;
}

.signInIntroContent h1:first-child {
  margin-bottom: 0;
}

.signInIntroContent h1:nth-child(2) {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
}

.keyImage {
  width: 40%;
}

.ringRingerWrapper {
  position: relative;
  left: 50%;
  z-index: -1;
}

.ringRinger {
  min-height: 20em;
  width: 60%;
  margin: 0 20%;
  position: absolute;
  left: -50%;
  top: 40vh;
  /* transform: translateX(-50%); */
}

.signInDetail {
  flex-grow: 1;
  min-width: 18em;
  background: #f1f1f1;
  box-sizing: border-box;
  padding: 5em;
  justify-content: center;
}

.signInDetail > h1 {
  max-width: 8em;
  color: #818181;
}

.signInDetail form {
  display: flex;
  flex-direction: column;
  max-width: 16em;
}

.signInDetail form input {
  border: none;
  background: none;
  padding: 0.7em 0.7em 0 0.7em;
  padding: 0.5em 0;
  border-bottom: 1px solid black;
  transition: all 0.5s ease-in;
}

.signInDetail form input:focus {
  background: white;
  border-radius: 0.3em;
}

.signInDetail label {
  padding-top: 1em;
}

.logInButton {
  background: linear-gradient(
    90deg,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59),
    rgba(190, 48, 39, 1)
  );
  background-size: 200%;
  color: white;
  padding: 1em;
  max-width: 12em;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  margin-top: 2em;
  transition: all 0.5s ease-in;
  border-radius: 0.2em;
}

.logInButton:hover {
  background-position: right;
}

.forgotPassword {
  text-decoration: none;
  color: #818181;
  font-size: 0.9em;
  margin-top: 1em;
}

/* ########################### - Header styling - ############################ */
header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1em 0;
  background: white;
  -webkit-box-shadow: 0px 5px 10px 0px #cacaca;
  box-shadow: 0px 3px 10px 0px #cacaca;
  width: 100%;
  z-index: 2;
}

header > img {
  width: 5em;
  height: 5em;
  margin: 0 auto;
}

header > nav {
  width: 16em;
  display: flex;
  align-items: center;
}

header > div {
  width: 16em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > nav ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  width: 10em;
}

header > nav ul li {
  padding: 0.5em 1em;
}

header > div > div {
  display: flex;
  flex-direction: column;
}

header > div > div p {
  margin: 0;
}

header > div > div a {
  color: #be3027;
  text-decoration: none;
}

header > div > div a:hover {
  color: #be3027;
  font-weight: bold;
  text-decoration: none;
}

.avatar {
  background: rgb(196, 196, 196);
  border-radius: 1.5em;
  height: 3em;
  width: 3em;
  margin-right: 1em;
  padding-top: 0.5em;
  box-sizing: border-box;
}

.notification {
  height: 2em;
  margin-right: 1em;
}

header > nav > ul > li > a > img {
  height: 1.8em;
  margin-right: 0.5em;
}

header > nav > ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  text-decoration: none;
  color: black;
}

/* ########################### - main content styling - ############################ */
.contentWrapper {
  max-width: 65em;
  flex-grow: 4;
  height: 100%;
}

main {
  padding: 2em 2em 0 2em;
  display: flex;
  min-height: 77vh;
  flex-direction: row;
  flex-wrap: wrap;
}

.dashboardButtons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9em, 1fr));
  grid-gap: 2em;
  margin-bottom: 1em;
}

.dashboardButton {
  height: 7.5em;
  max-width: 21em;
  background: rgb(190, 48, 39);
  background: linear-gradient(
    90deg,
    rgba(190, 48, 39, 1),
    rgb(219, 70, 59),
    rgba(190, 48, 39, 1)
  );
  background-size: 200%;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 2px #cacaca;
  box-shadow: 0px 0px 10px 2px #cacaca;
  color: white;
  border-radius: 0.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in;
  text-decoration: none;
  text-align: center;
}

.dashboardButtons:nth-child(2) {
  margin: 0 2em;
}

.dashboardButton:hover {
  background-position: right;
  text-decoration: none;
}

.dashboardButton img {
  max-height: 3em;
  transition: all 0.5s ease-in;
}

.dashboardButtons p {
  padding: 0;
  margin: 0.5em 0;
  font-size: 0.7em;
}

.dashboardButton:hover img {
  max-height: 3.5em;
}

/* .dashboardButton a {
  display: flex;
  flex-direction: column;
  color: white;
  text-decoration: none;
} */

/* ########################### - sidebar content styling - ############################ */
.sidebar {
  min-width: 15em;
  background: white;
  min-height: 5em;
  flex-grow: 1;
  margin-left: 1em;
  -webkit-box-shadow: 0px 0px 10px 2px #cacaca;
  box-shadow: 0px 0px 10px 2px #cacaca;
  border-radius: 0.2em;
}

/* ########################### - D3 styling - ############################ */
svg {
  width: 500px;
  height: 400px;
}

svg text {
  fill: black;
  font-size: 1.1em;
}

.xAxisName,
.yAxisName {
  font-size: 1.5em;
}

.yAxisName {
  text-anchor: middle;
}

line {
  stroke: #dbdbdb;
}

/* ########################### - durationChart styling - ############################ */
.durationChartWrapper {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  color: #2a292f;
  background: white;
  -webkit-box-shadow: 0px 0px 10px 2px #cacaca;
  box-shadow: 0px 0px 10px 2px #cacaca;
  border-radius: 0.2em;
  min-height: 60vh;
  justify-content: space-around;
  align-items: center;
}

.durationChartWrapper > form {
  margin: 1em;
  border-left: 1px solid #d6d6d6;
  padding-left: 1em;
  max-width: 16em;
}

.durationChartWrapper > form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.durationChartWrapper > form ul li {
  padding: 0.5em 0;
  display: flex;
  align-items: center;
}

.durationChartWrapper > form ul li p,
.durationChartWrapper > form ul li label {
  margin: 0;
  padding-left: 1em;
  font-size: 0.85em;
}

.durationChartWrapper > form ul li label:hover,
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.filterUnknownBox,
.filterBigBarsBox {
  width: 1em;
  height: 1em;
  border: 1px solid #2a292f;
  flex-shrink: 0;
  background: white;
}

input[type="checkbox"]:checked + label {
  color: #be3027;
  font-weight: bold;
}

.durationChartWrapper h2 {
  border-bottom: 1px solid #e2e2e2;
  font-size: 1em;
}

.longDurationColor,
.mediumDurationColor,
.shortDurationColor {
  width: 1.3em;
  height: 2.2em;
  flex-shrink: 0;
}

.longDurationColor {
  background: #054488;
}

.mediumDurationColor {
  background: #be3027;
}

.shortDurationColor {
  background: #f48a14;
}

/* ########################### - Map styling - ############################ */
#map {
  min-height: 60vh;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .signInIntroContent {
    padding-top: 1em;
  }
  .headerWrapper {
    margin-top: 0;
  }
  .signInDetail {
    padding-top: 2em;
  }
}
